{% extends 'base.html' %}

{% block content %}
        <div id="movie_blocks">
            {% for post in posts %}
            <div class="movie_block">
                <p class="published">별점: {{ post.score }}/5 | 장르: {{ post.genre }} | 개봉년도: {{ post.year }}</p>
                <h2 class="h2_title"><a class="movie_title" href="{% url 'review_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <div class="buttons">
                    <a href="{% url 'review_edit' pk=post.pk %}">수정</a>
                    <form action="{% url 'review_delete' pk=post.pk %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">삭제</button>
                    </form>
                </div>
                <div class="star"></div>
                <p id="movie_content">{{ post.text|truncatechars:100 }}</p>
            </div>
            {% endfor %}
            <div id = "plus">
                <a href="{% url 'review_new' %}"><p id="first_plus">+</p></a>
            </div>
        </div>
{% endblock %}